<!DOCTYPE html>
<html lang="en">
  <head>
    {{>header}}
    <link rel="stylesheet" href="css/style2.css" />
  </head>
  <body>
    <!-- nav -->
    {{>navbar}}
          <div class="box10"></div>
    <h1 id="heading">Welcome to my Website</h1>
    <p id="para">An interesting place filled with mind bending realizations</p>
    <!-- box 1 -->
    <div class="box1">

      <div class="box11"></div>
    </div>
    <!-- box 2 -->
    <div class="box2">
      <h3>Heading</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia architecto fugiat ab quis possimus ad ullam voluptatem, culpa voluptatibus, cum reprehenderit, molestias suscipit deleniti atque a facere! Maiores, quo nihil!</p>
        <br>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Veniam maxime ex officiis, sunt eaque animi harum labore fugit expedita possimus error perspiciatis voluptas alias sed dolorem? Quasi dolorum tempora ea non molestias mollitia placeat quae harum, architecto doloribus, sint eaque rerum voluptates repellendus quia et provident? Mollitia fugiat quod illo iusto tempore cumque beatae dignissimos sequi officiis dolorum in debitis aperiam sunt praesentium id excepturi deleniti laborum inventore quibusdam labore vero, atque, quas ratione nihil! Illum eum magnam quam quasi reprehenderit maiores unde excepturi pariatur, ut modi alias saepe est esse eius sint nihil officia. Officia beatae veniam impedit dolores facere aliquid quos dicta odio dolorum dolore maxime provident quidem laborum cumque vero in commodi eaque, atque blanditiis et ea possimus corporis. Earum tempore consectetur asperiores ipsum dicta tempora accusantium magni incidunt eos error dolorum suscipit saepe ad fugit maxime, recusandae soluta molestias reprehenderit minus illum placeat. Illo, sequi officia vero totam eaque autem mollitia provident debitis natus distinctio omnis. Ipsa quas nam distinctio excepturi magni odio ad quisquam. Explicabo nobis eos nisi ipsa soluta deserunt veritatis vitae tempore eum modi corrupti nemo quam, sequi fugiat? Ratione dolorum dolore, necessitatibus explicabo exercitationem facilis consequatur reprehenderit totam? Asperiores aspernatur architecto voluptatibus doloremque magnam earum, ad distinctio suscipit sunt consectetur adipisci eveniet vitae itaque minus cumque atque quaerat repudiandae officiis quam repellat error perspiciatis dolor nisi. Corporis ipsum ipsa, expedita nihil unde, magni ad commodi maxime voluptates qui nesciunt perferendis est explicabo natus sint quos! Molestias, possimus tempore excepturi nemo impedit reiciendis similique aliquam cupiditate officiis magni neque aliquid nam recusandae, consectetur ad quas ab doloribus qui vero architecto? Velit ipsam ea officia. Qui vel porro excepturi cum saepe, quibusdam non nesciunt incidunt neque quasi esse, voluptatum doloribus earum eos eius dolores nihil eum quod voluptatem doloremque aperiam. Quo excepturi dolor culpa!</p>
        <br>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro sapiente et nobis laudantium minus illum vero a asperiores distinctio quaerat ad quibusdam blanditiis cupiditate ut eaque magnam architecto, dolor, natus commodi repellat debitis quam sed voluptas? Mollitia corporis, autem eaque iusto cumque dolore aliquid officia minus dicta voluptate est sit debitis quia voluptates molestiae aliquam fuga quae suscipit deleniti libero. Vel doloribus, aperiam distinctio dicta asperiores, unde hic eaque dolore necessitatibus eum suscipit. Illum iste omnis adipisci eos nostrum enim odio dolores velit? Itaque omnis ratione libero quos praesentium, perspiciatis aspernatur velit fugit ut, neque suscipit obcaecati est quo cupiditate!</p>
    </div>
    <!-- box 3 -->
    <div class="box3">
      <img id="pics1" src="css/images/971.jpg" alt="">
      <img id="pics2" src="css/images/brain.jpg" alt="">
    </div>
    <!-- JavaScript -->
    <script>
        const box2 = document.querySelector(".box2");
        const observer = new IntersectionObserver((entries)=>{
            const ent = entries[0];
            console.log(ent);
            ent.isIntersecting ? document.body.classList.add("sticky"):document.body.classList.remove("sticky");
                    
        },
        {root:null, threshold:0})

        observer.observe(box2);
    </script>
  </body>
</html>
