
    <div class="navbar">
      <div class="space">
        <div class="space1">
          <a href="/"><div id="logo">TalhaShahid</div></a>
        </div>
        <div class="space2">
          <div id="link1"><a href="/login">Login</a></div>
          <div id="link2"><a href="/register">Sign Up</a></div>
        </div>
      </div>
    </div>